
<div id="add_obs">
  <div class="container-fluid">
    <div id="SelectHeader" class="row">
      <div class="col-md-12">
        <h1>Select Area</h1>
      </div>
    </div> 

    <div id="gallery">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <button ng-repeat="area in obsData.areas" type="button" value="{{ area.name }}" class="btn btn-primary col-md-12"><a ng-href="#/conditions">{{ area.name }}</a></button>
        </div>
      </div>
    </div>

  </div>
</div>


<!--   
<div id="form">
  <h2>{{ obsData.areas[0].name }}</h2>
  <form name="add_obs_form">    
    <label for="areaSelect">Area: </label>
    <select name="area" id="areaSelect" ng-model="obsData.areas">
      <option ng-repeat="area in obsData.areas" value="{{ area.name }}">{{ area.name }}</option>
    </select>

    <br>

    <label for="conditionSelect">Conditions: </label>
    <select name="condition" id="conditionSelect" ng-model="obsData.conditions">
      <option ng-repeat="condition in obsData.conditions" value="{{ condition }}">{{ condition }}</option>
    </select>

  </form> -->


<!-- </div> -->

<!-- create: data.areas.name
        data.areas.id
        data.conditions.description
        data.conditions.id -->
